<!DOCTYPE>
<html>
    <head>
        <link rel="stylesheet" href="main.css" \>
    </head>
    <body>
        <h1>Search</h1>
        
        <form>
            <p>Query: </p>
            <input type="text">
            
            <br><br><input type="submit" value="Search">
            
            <p>Results: </p>
            <select multiple>
                <option>Larry Lobster</option>
                <option>Larry Smith</option>
                <option>Larry Bird</option>
                <option>Larry Nance Jr.</option>
            </select>
        </form>
    </body>
</html>