<!DOCTYPE>
<html>
    <head>
        <link rel="stylesheet" href="main.css" \>
    </head>
    <body>
        <h1>Reviews for: <small class="light">Larry Lobster</small></h1>
        
        <div class="review">
            <p><small>Review ID: REV00002</small></p>
            <h4>Excellent apartment, great guy, very responsive!</h4>
            <p>Written by Bob Builder</p>
            <p>Rating: 5</p>
            <p>Comments: Larry was cool and very strong so he could fix everything. Would recommend and rent from him again!</p>
            <button style="margin-bottom: 20px">Report</button>
        </div>
        <br>
        <div class="review">
            <p><small>Review ID: REV00001</small></p>
            <h4>Terrible apartment, bad guy, not responsive!</h4>
            <p>Written by Pearl Krabs</p>
            <p>Rating: 1</p>
            <p>Comments: Larry was not cool and very weak so he couldn't fix anything. Would not recommend and will never rent from him again.</p>
            <button style="margin-bottom: 20px">Report</button>
        </div>
    </body>
</html>