body {
    font-family: Verdana, sans-serif;
}

.review {
    border: 2px solid black;
    padding: 0px 20px;
}

p {
    font-size: 17px;
}

input {
    font-size: 17px;
}

select {
    font-size: 17px;
}

textarea {
    font-size: 17px;
}

.light {
    font-weight: 300;
}