<!DOCTYPE>
<html>
    <head>
        <link rel="stylesheet" href="main.css" \>
    </head>
    <body>
        <h1>Report review: <small class="light">REV00001</small></h1>
        
        <form>
            <p>First name: </p>
            <input type="text">
            
            <p>Last name: </p>
            <input type="text">
            
            <p>Email: </p>
            <input type="text">
            
            <p>Reasoning: </p>
            <textarea></textarea>
            
            <p>Additional files: </p>
            <input type="file" multiple>
            
            <br><br><input type="submit">
        </form>
    </body>
</html>