<!DOCTYPE>
<html>
    <head>
        <link rel="stylesheet" href="main.css" \>
    </head>
    <body>
        <h1>Write a review for: <small class="light">Larry Lobster</small></h1>
        
        <form>
            <p>Review title: </p>
            <input type="text">
            
            <p>Rating (stars): </p>
            <input type="number" min="1" max="5" value="1">
            
            <p>Review comments: </p>
            <textarea></textarea>
            
            <p>Images: </p>
            <input type="file" multiple>
            
            <p>Proof of renting from this landlord: </p>
            <input type="file" multiple>
            
            <br><br><input type="submit">
        </form>
    </body>
</html>